{{> layout page="index"}}
<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-sm-3 col-lg-2">
            <form class="form-inline py-2 px-1">
                <input class="form-control mr-sm-2" type="text" placeholder="Search by name" aria-label="Search by name">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="nav flex-column">
                <li class="nav-item category">
                  <h5>Vk</h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Current user</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">User 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">User 3</a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item category">
                  <h5>Telegram</h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">User 4</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">User 5</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">User 6</a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item category">
                  <h5>Facebook</h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">User 7</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">User 8</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">User 9</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-lg-10 bg-light">
            <div class="p-2">
                <h3 class="user-secondary-info">Firstname Lastname</h3>
                <span class="user-secondary-info user-status ml-3">Offline</span>
            </div>
            <div class="p-2">
                <h5 class="user-secondary-info">Vk</h5>
            </div>

            <div class="p-1 ct-chart"></div>
        </div>
    </div>
</div>

<script>
(function() {
    let last_seen = [
        1502905151,
        1502910546,
        1502911446,
        1502911620,
        1502912710,
        1502912740,
        1502912931,
        1502913252,
        1502920103,
        1502922260,
        1502922316,
        1502922316,
        1502922316,
        1502933606,
        1502933790,
        1502933965,
        1502934141,
        1502934620,
        1502934620];

    let data = new Set();
    last_seen.forEach(function(element) {
        data.add({x: element, y: 1});
    });

    let startDate = moment().subtract(1, 'days').startOf('day').unix();
    let endDate = moment().endOf('day').add().unix();
    let datesBetween = [];
    for (let i = startDate; i < endDate; i = moment.unix(i).add(3, 'hours').unix()) {
        datesBetween.push(i);
    }
    datesBetween.push(endDate);

    chart = new Chartist.Bar('.ct-chart', {
    series: [
                {
                    name: 'online',
                    data:  Array.from(data)
                }
            ]
    }, {
    lineSmooth: false,
    axisX: {
        type: Chartist.FixedScaleAxis,
        labelInterpolationFnc: function (value) {
            return moment.unix(value).format('DD.MM HH:mm');
        },
        low: startDate,
        high: endDate,
        ticks: datesBetween
    },
    axisY: {
        onlyInteger: true,
        labelInterpolationFnc: function (value) {
            return value === 1 ? 'Online' : 'Offline';
        }
    },
    plugins: [
    Chartist.plugins.tooltip({
        transformTooltipTextFnc: function(chartData) {
            let time = chartData.split(',')[0];
            return moment.unix(time).format('DD.MM HH:mm');
        }
    })
    ]
});
})()
</script>